{% extends "base.html" %} 

{% block title %} 
  {% if object %} 
    Edit course "{{ object.title }}" 
  {% else %} 
    Create a new course 
  {% endif %} 
{% endblock %} 

{% block content %}
<h1 dir="rtl">
  {% if object %} ویرایش دوره "{{ object.title }}" 
  {% else %} ساخت دوره جدید 
  {% endif %}
</h1>
<div class="d-flex flex-column align-items-center">
  <h2>مشخصات دوره</h2>
  <form class="base-form" method="post">
    {{ form.as_p }} {% csrf_token %}
    <p><input type="submit" value="Save course" /></p>
  </form>
</div>
{% endblock %}
