{% extends "base.html" %}

{% block title %}
  login
{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center">
  <div class="mt-5">
    <form class="base-form" method="post">
      <p dir="rtl">ورود به حساب کاربری</p>
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="ورود به حساب"></p>
      <p dir="rtl">حساب کاربری ندارید؟ <a href="{% url 'students:student_registration' %}">ثبت نام</a></p>
    </form>
  </div>
</div>
  
{% endblock %}